<div class="row">
    <div class="col-6 px-0 pad-5">
        <h1 class="text-14">
            <span id="firstName">Laura</span><br>
            <strong id="lastName">Parker</strong>
        </h1>
        <div class="line-horizontal"></div>
        <p class="text-15">UI & UX DESIGNER</p>
    </div>
    <div class="col-6 px-0 pad-6 position-relative">
        <img src="img/img.png" alt="photo" class="img img-fluid">

        <div class="line-horizontal-2">
            <div class="square"></div>
        </div>

        <div class="line-vertical"></div>
    </div>
</div>