<div>
    <div class="bg">
        <div>
            <p class="text-1">Phone</p>
            <p class="text-2">0123 456 789</p>
        </div>
        <div>
            <p class="text-1">Email</p>
            <p class="text-2">urmail@namehere</p>
        </div>
        <div>
            <p class="text-1">Address</p>
            <p class="text-2">Your Street Addrees.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="pad-4">
        <div>
            <h2 class="text-3">
                PROFILE
                <i class="fa-solid fa-chevron-right profile-arrow"></i>
            </h2>
            <br>
            <div class="profile-content">
                <p class="text-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                    sed do eiusmod tempor incididunt ut labore et dolore<br>
                    magna aliqua. Ut enim ad minim veniam, quis nostrud<br>
                    exercitation ullamco laboris nisi ut aliquip.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="pad-4">
        <div class="experience-section">
            <h2 class="text-3">
                EXPERIENCE
                <i class="fa-solid fa-chevron-right arrow"></i>
            </h2>
            <br>
            <div class="experience-content">
                <div>
                    <p class="text-5">Senior UX Designer - Present</p>
                    <p class="text-5">Company Name / Location</p>
                    <p class="text-4">
                        Lorem Ipsum is dummy text of the printing and<br>
                        typesetting industry. Lorem Ipsum has been the.
                    </p>
                </div>
                <br>
                <div>
                    <p class="text-5">UX Designer - 2016</p>
                    <p class="text-5">Company Name / Location</p>
                    <p class="text-4">
                        Lorem Ipsum is dummy text of the printing and<br>
                        typesetting industry. Lorem Ipsum has been the.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="pad-4">
        <div class="row pad">
            <h2 class="text-3">
                REFERENCE
                <i class="fa-solid fa-chevron-right reference-arrow"></i>
            </h2>
            <br>
            <br>
            <div class="reference-content">
                <div class="row">
                    <div class="col-5">
                        <p class="text-7">Senior Designer</p>
                        <p class="text-8">Jhon Ander Smith</p>
                        <p class="text-9">Company name here</p>
                    </div>
                    <div class="col-auto">
                        <div class="divider"></div>
                    </div>
                    <div class="col-5">
                        <div class="pad-2">
                            <p class="text-7">Senior Designer</p>
                            <p class="text-8">Jhon Smith</p>
                            <p class="text-9">Company name here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>